/*
 * Copyright (c) 2024 Jacob Winther
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include "adafruit_feather_nrf52840_common.dtsi"
#include <common/nordic/nrf52840_uf2_boot_mode.dtsi>

&flash0 {
    partitions {
	    compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;
		
		/* SoftDevice S140 v6 + MBR region */
        sd_partition: partition@0 {
			reg = <0x0 0x26000>;
        };

        /* Application code */
        code_partition: partition@26000 {
		    reg = <0x26000 0xec000>;
        };
		
		/*
		 * Storage partition for NVS/settings.
		 * Ends before the bootloader at 0xF4000.
		 */
		 storage_partition: partition@ec000 {
		     reg = <0xec000 0x8000>;
		 };

        /* Adafruit nRF52 bootloader occupies 0xF4000-0xFFFFF */
    };
};

/ {
	model = "Adafruit Feather nRF52840 Express ZMK";
	compatible = "adafruit,feather-nrf52840";

	leds {
		led0: led_0 {
			gpios = <&gpio1 15 0>;
		};
	};
};
