# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_FULCRUM34_RIGHT

config ZMK_KEYBOARD_NAME
    default "Fulcrum34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
	
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
	default y
	
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
	default y

endif # SHIELD_FULCRUM34_RIGHT

if SHIELD_FULCRUM34_LEFT || SHIELD_FULCRUM34_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BOARD_COMPAT
    default y

endif # SHIELD_FULCRUM34_LEFT || SHIELD_FULCRUM34_RIGHT